<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{   play.title   }}</title>
</head>
<body>

<h1>{{ play.full_title }}</h1>

<br>
Date: {{ play.date }}
<br>
<br>

<br>
Characters:
<ul>
    {% for pl in play.characters.items() %}
    <li>{{  play.characters.values()[loop.index0] }}</li>
    {% endfor %}
</ul>

<br>
<br>

<ul id="act_list">
        {% for act in play.acts %}
            <li>Act: {{ act.act }} </li>
            <ul id="scene_list">
            {% for scene in act.scenes  %}
                <li><a href="{{ url_for('play', play_id=loop.index0) }}"> Scene {{ [scene.scene] }} </a> </li>
            {% endfor %}
            </ul>
        {% endfor %}
</ul>

</body>
</html>